@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #D0D3D4;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    font-size: 3vw;
    font-weight: bold;
    background-color: #000000;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.5vw;
}

.central {
    padding-top: 0.05vw;
    overflow: hidden;
}

.bannerPublicidad {
    background-color: #000000;
    padding: 0.5vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    overflow: hidden;
    white-space: nowrap;
}

.carrusel {
    display: inline-block;
    animation: mover 30s linear infinite;
}

.carrusel p {
    display: inline-block;
    padding-right: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.8vw;
    margin: 0;
}

@keyframes mover {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.llama {
    padding: 0.30vw;
    font-weight: bold;
    font-size: 1.5vw;
}

.container {
    display: flex;
    height: 80vh;
    overflow: hidden;
    border-radius: 0.9vw;
    background-color: rgb(255, 255, 255);
}

img {
    width: 8vw;
    height: 2.5vw;
}

.logo {
    padding-top: 0.80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.actual {
    padding: 0.50vw;
    height: 52%;
    box-sizing: border-box;
    font-size: 1.5vw;
    border: 0.15vw solid rgb(71, 58, 45);
    border-radius: 1vw;
}

.half {
    flex: 1;
    padding: 0.90vw;
}

.esperando {
    padding: 0.50vw;
    height: 80%;
    box-sizing: border-box;
    border: 0.15vw solid rgb(71, 58, 45);
    border-radius: 1vw;
}

.clientes {
    background: #F19C49;
    color: black;
    border-radius: 0.8vw;
    padding: 0.20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
    justify-content: space-between;
    font-size: 1.5vw;
}

.parte1 {
    padding-left: 0.70vw;
    float: left;
    font-size: 1.5vw;
}

.parte2 {
    align-items: end;
    font-size: 1.5vw;
}

.dcliente {
    padding: 0.30vw;
    height: 20%;
}

.ccliente {
    padding: 0.30vw;
    height: 27%;
}

.dactual {
    height: 50%;
    width: 50%;
    box-sizing: border-box;
}

.proximo {
    height: 110%; /* Mantenemos el aumento de altura */
    padding: 0.70vw;
    display: flex; /* Añadimos display flex */
    flex-direction: column; /* Organizamos el contenido en columna */
    box-sizing: border-box; /* Incluimos padding en el cálculo de altura */
}

.proximo .titulo {
    margin-bottom: 0.5vw;
}

.actualb {
    background: #65a0ee;
    color: black;
    border-radius: 0.8vw;
    padding: 0.20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
    justify-content: space-between;
    font-size: 1.5vw;
}

.proximob {
    background: #7cee65;
    color: black;
    border-radius: 0.8vw;
    padding: 0.20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
    justify-content: space-between;
    font-size: 1.5vw;
}

.ultimoc {
    padding: 0.20vw;
    height: calc(100% - 4vw);
}

.ultimoc button {
    width: 100%;
    height: 10%;
}