
  
  .titulop {
    font-size: 35px;
    font-weight: bold;
    
  }
  
  body {
  
     
      background-color: #D0D3D4;
      
    }

  .ttabla{
    font-weight: bold;
    

  }  
  
  
   
   img {
    width: 350px;
    height: 100px;
  }