.panel {
    
    background-color: #BBC7D6;
   
    
  }
  
  .titulop {
    font-size: 3vw;
    font-weight: bold;
    
  }

  .principal {
    width: 75vw; 
    margin-right: 0.8vw; 
    background-color: #D0D3D4;
    align-content: center;
    margin-right: 1vw; 
  }

  .boton1 {
    color: white;
    background:  #F19C49 ;
    border-top-right-radius: 4vw; 
    border-bottom-right-radius: 4vw; 
    border: none;
    padding: 1vw 2vw; 
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s;
       
  
  }


  .boton2 {
    color: white;
    background:  #F19C49 ;
    border-top-right-radius: 4vw; 
    border-top-left-radius: 4vw; 
    border-bottom-left-radius: 4vw; 
    border-bottom-right-radius: 4vw; 
    border: none;
    padding: 1vw 2vw; 
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s;
  }



  img {
    width: 12vw; 
    height: 3.7vh; 
  }

