
  
  .titulop {
    font-size: 2vw;
    font-weight: bold;
    
  }
  
  .body {
  
     
      background-color: #D0D3D4;
    }

  .ttabla{
    font-weight: bold;
    

  }  
  .tabla{
    margin-top: 5vh;
    
  }

  
  
  
