
  
    #content h3 {
      
      font-weight:bold;
      font-size:2em;
      font-family: "Poppins", Poppins-Bold;
     
      
    }
  
    .panel {
      
      
      background-color: #D0D3D4 ;
   }
  
  
   .boton1 {
    color: white;
    background:  #000000 ;
    border-top-right-radius: 4vw;
    border-bottom-right-radius: 4vw;
    border: none;
    padding: 1vw 2vw;
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.2);
  
  
   }

.errorVacio{
  border-color: rgb(299, 62, 62);
}
.mensajeError{
  color: rgb(299, 62, 62);
}


.html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.title-container {
  background: black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title-text {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
  font-size: 1.2em;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;;
}
.label-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.button-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.alertaBienvenida {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.alertaContenido {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alertaContenido h2 {
  color: #000000;
  margin-bottom: 10px;
}

.alertaContenido p {
  color: #333;
  font-size: 18px;
}